
@{
    ViewBag.Title = "BeforeRegister";
}

<!DOCTYPE html>

<link href="~/css/BeforeRegister.css" rel="stylesheet" />
<h2>BeforeRegister</h2>
<br /><br /><br /><br /><br />
@{
    <a href="@Url.Action("Register", "Home")" class="page-scroll">
        Register
    </a>
}

    <div id="wrap">
        <form action="Register" method="get">
            <div class="left">
                
                <select name="registeredPeople">
                    <option value="Select Category">Select Category</option>
                    <option value="Model">Mode</option>
                    <option value="Photograpger">Photograpger</option>
                    <option value="Makeup Artist">Makeup Artist</option>
                    <option value="Wardrobe">Wardrobe</option>
                    <option value="Hair Stylist">Hair Stylist</option>
                    <option value="Artist/Painter">Artist/Painter</option>
                    <option value="Body Painter">Body Painter</option>
                    <option value="Clothing Designer">Clothing Designer</option>
                    <option value="Digital Artist">Digital Artist</option>
                </select>
                <select hidden name="oneTwo">
                    <option value="1">1</option>
                </select>
                @*<input type="text" name="oneTwo" hidden value="1">*@
                <input type="submit" value="GO" id="1">
            </div>
            
          </form>
        <form action="Register" method="get">
            <div class="right">
                
                <select name="registeredPeople">
                    <option value="Select Category">Select Category</option>
                    <option value="Modeling Agent">Modeling Agent</option>
                    <option value="Casting Director">Casting Director</option>
                    <option value="Employment Recruiter">Employment Recruiter</option>
                    <option value="Brand Owner/Rep">Brand Owner/Rep</option>
                    <option value="Film/Video Maker">Film/Video Maker</option>
                    <option value="Musician">Musician</option>
                    <option value="Event Promoter">Event Promoter</option>
                    <option value="Publication">Publication</option>
                    <option value="Ad/Mktg Agency">Ad/Mktg Agency</option>
                    <option value="Photographer">Photographer</option>
                </select>
                <select hidden name="oneTwo">
                    <option value="2">2</option>                 
                </select>
                @*<input type="text" name="oneTwo" hidden value="2">*@
                <input type="submit" value="GO" id="2">
            </div>

        </form>

    </div>

@*<script>
    window.onload = function () {
        var oneTwo = 0;
        var submit1 = document.getElementById("1");
        submit1.onclick = function () {
            oneTwo = 1;
        }
        var submit2 = document.getElementById("2");
        submit2.onclick = function () {
            oneTwo = 2;
        }
       
    }
</script>*@


