
@{
    ViewBag.Title = "Country";
}
<script src="~/js/CountryJS.js"></script>
<h2>Country</h2>

<div class="editor-field">
    @Html.DropDownList("Country")
    @Html.DropDownList("State", Enumerable.Empty<SelectListItem>(), "States", new { @disabled = "disabled" })
</div>